In [1]:
import pandas as pd
from tqdm import tqdm_notebook
from eunjeon import Mecab
from konlpy.tag import Okt
mecab = Mecab()
okt = Okt()

# 에러 없애기

In [70]:
df = pd.read_csv('../data/자소서6.csv',index_col=0, engine='python', encoding='utf8')

In [71]:
df = df.reset_index().drop(columns=['index'])

In [72]:
df.head()

,category1,category2,jss,label
0,경영기획,기획·전략·경영,"[제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...",0
1,경영기획,기획·전략·경영,[남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...,0
2,경영기획,기획·전략·경영,"[높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...",0
3,경영기획,기획·전략·경영,[꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...,0
4,경영기획,기획·전략·경영,"경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...",0

In [73]:
debug = []
bugidx = []
i = 0
for txt in tqdm_notebook(df.jss):
    nouns = okt.nouns(txt)
    if len(nouns) == 0:
        print(i, txt)
        bugidx.append(i)
    debug.append(nouns)
    i += 1

A Jupyter Widget

8912 #회사만족도1위아르바이트경험을보유한전문가 #물류관리사자격증보유자 #CPM자격증보유자

In [75]:
len(df)

14891

In [76]:
df = df.drop(bugidx)

In [77]:
df.to_csv('../data/자소서6.csv')

# 경영만 거르기

In [10]:
df = pd.read_csv('../data/자소서5.csv',index_col=0, engine='python', encoding='utf8')

In [5]:
df = df[df.industry=='경영']

In [9]:
df.groupby('category').agg('count').sort_values('label',ascending=False).to_excel('../data/경영카테고리.xlsx')

# 컴공만 거르기

In [16]:
df[df.industry.isin(['IT','서비스','연구개발'])].to_excel('../data/컴공_자소서전체.xlsx')

In [17]:
df = df[df.industry.isin(['IT','서비스','연구개발'])]

In [19]:
df.groupby('category').agg('count').sort_values('label',ascending=False).to_excel('../data/컴공_카테고리카운트.xlsx')

# 경영 카테고리1 보자

In [41]:
cadf = pd.read_excel('../data/경영카테고리1.xlsx',).fillna(method='ffill')

In [42]:
cadf.head()

  category1    category2
0      생산품질    생산관리·품질관리
1      생산품질  안전·품질·검사·관리
2      생산품질         품질보증
3        영업         영업관리
4        영업         일반영업

In [44]:
cadf2 = pd.read_excel('../data/컴공카테고리1.xlsx',header=None)

In [47]:
cadf2.columns=['category1','category2']

In [48]:
cadf2.head()

  category1      category2
0   응용프로그래밍           ABAP
1   응용프로그래밍             C#
2   응용프로그래밍            C++
3   응용프로그래밍  HTML·웹표준·UI개발
4   응용프로그래밍   IT·디자인·컴퓨터교육

In [50]:
cadf = pd.concat([cadf,cadf2])

In [53]:
cadf.head()

  category1    category2
0      생산품질    생산관리·품질관리
1      생산품질  안전·품질·검사·관리
2      생산품질         품질보증
3        영업         영업관리
4        영업         일반영업

In [54]:
df = pd.read_csv('../data/자소서5.csv',index_col=0, engine='python', encoding='utf8')

In [55]:
df.head()

   category                                                jss industry  label
0  기획·전략·경영  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...       경영      0
1  기획·전략·경영  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...       경영      0
2  기획·전략·경영  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...       경영      0
3  기획·전략·경영  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...       경영      0
4  기획·전략·경영  경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...       경영      0

In [56]:
df = df.merge(cadf,left_on='category', right_on='category2')[['category1','category2','jss']]

In [58]:
df.head()

  category1 category2                                                jss
0      경영기획  기획·전략·경영  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...
1      경영기획  기획·전략·경영  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...
2      경영기획  기획·전략·경영  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...
3      경영기획  기획·전략·경영  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...
4      경영기획  기획·전략·경영  경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...

In [62]:
df = df[df.category2 != '정보통신·IT']

In [63]:
df.groupby('category1').agg('count')

           category2   jss
category1
경영기획            1157  1157
금융              1266  1266
기술영업             329   329
마케팅             1107  1107
물류               742   742
사무              1067  1067
생산품질            2768  2768
서버·시스템           587   587
영업              4089  4089
응용프로그래밍          632   632
인사               404   404
재무               626   626
통계               117   117

In [64]:
labels = []
for i in df.category1.tolist():
    if i == '경영기획':
        labels.append(0)
    elif i == '금융':
        labels.append(1)
    elif i == '기술영업':
        labels.append(2)
    elif i == '마케팅':
        labels.append(3)
    elif i == '물류':
        labels.append(4)
    elif i == '사무':
        labels.append(5)
    elif i == '생산품질':
        labels.append(6)
    elif i == '영업':
        labels.append(7)
    elif i == '인사':
        labels.append(8)
    elif i == '재무':
        labels.append(9)
    elif i == '통계':
        labels.append(10)
    elif i == '응용프로그래밍':
        labels.append(11)
    elif i == '서버·시스템':
        labels.append(12)

In [65]:
df['label'] = labels

In [66]:
df.head()

,category1,category2,jss,label
0,경영기획,기획·전략·경영,"[제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...",0
1,경영기획,기획·전략·경영,[남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...,0
2,경영기획,기획·전략·경영,"[높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...",0
3,경영기획,기획·전략·경영,[꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...,0
4,경영기획,기획·전략·경영,"경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...",0

In [67]:
df.to_csv('../data/자소서6.csv')

In [68]:
len(df)

14891

# 카테고리 2차

In [2]:
df = pd.read_csv('../data/자소서6.csv',index_col=0, engine='python', encoding='utf8')

In [4]:
df.groupby('category1').agg('count')

           category2   jss  label
category1
경영기획            1157  1157   1157
금융              1266  1266   1266
기술영업             329   329    329
마케팅             1107  1107   1107
물류               741   741    741
사무              1067  1067   1067
생산품질            2768  2768   2768
서버·시스템           587   587    587
영업              4089  4089   4089
응용프로그래밍          632   632    632
인사               404   404    404
재무               626   626    626
통계               117   117    117

In [15]:
labels = []
for i in df.category1.tolist():
    if i == '경영기획':
        labels.append('경영지원')
    elif i == '금융':
        labels.append('재무·금융')
    elif i == '기술영업':
        labels.append('영업·마케팅')
    elif i == '마케팅':
        labels.append('영업·마케팅')
    elif i == '물류':
        labels.append('생산·물류')
    elif i == '사무':
        labels.append('경영지원')
    elif i == '생산품질':
        labels.append('생산·물류')
    elif i == '영업':
        labels.append('영업·마케팅')
    elif i == '인사':
        labels.append('인사')
    elif i == '재무':
        labels.append('재무·금융')
    elif i == '통계':
        labels.append('통계')
    elif i == '응용프로그래밍':
        labels.append('응용프로그래밍')
    elif i == '서버·시스템':
        labels.append('서버·시스템')

In [16]:
df['category3'] = labels

In [17]:
df.head()

,category1,category2,jss,label,category3
0,경영기획,기획·전략·경영,"[제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...",0,경영지원
1,경영기획,기획·전략·경영,[남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...,0,경영지원
2,경영기획,기획·전략·경영,"[높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...",0,경영지원
3,경영기획,기획·전략·경영,[꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...,0,경영지원
4,경영기획,기획·전략·경영,"경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...",0,경영지원

In [18]:
df.groupby('category3').agg('count')

           category1  category2   jss  label
category3
경영지원            2224       2224  2224   2224
생산·물류           3509       3509  3509   3509
서버·시스템           587        587   587    587
영업·마케팅          5525       5525  5525   5525
응용프로그래밍          632        632   632    632
인사               404        404   404    404
재무·금융           1892       1892  1892   1892

In [13]:
df = df[df.category3!='통계']

In [19]:
labels = []
for i in df.category3.tolist():
    if i == '경영지원':
        labels.append(0)
    elif i == '재무·금융':
        labels.append(1)
    elif i == '생산·물류':
        labels.append(2)
    elif i == '영업·마케팅':
        labels.append(3)
    elif i == '인사':
        labels.append(4)
    elif i == '서버·시스템':
        labels.append(5)
    elif i == '응용프로그래밍':
        labels.append(6)

In [20]:
df.label = labels

In [21]:
df.head()

,category1,category2,jss,label,category3
0,경영기획,기획·전략·경영,"[제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...",0,경영지원
1,경영기획,기획·전략·경영,[남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...,0,경영지원
2,경영기획,기획·전략·경영,"[높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...",0,경영지원
3,경영기획,기획·전략·경영,[꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...,0,경영지원
4,경영기획,기획·전략·경영,"경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...",0,경영지원

In [22]:
df.to_csv('../data/자소서7.csv')