In [18]:
import pandas as pd
from tqdm import tqdm_notebook
from eunjeon import Mecab
from konlpy.tag import Okt
import numpy as np
mecab = Mecab()
okt = Okt()

# 에러 없애기

In [2]:
df = pd.read_csv('../data/자소서_잡코추가.csv',index_col=0, engine='python', encoding='utf8')

In [71]:
df = df.reset_index().drop(columns=['index'])

In [3]:
df.head()

  category  c_origin                                                jss  label
0     경영지원  기획·전략·경영  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...      0
1     경영지원  기획·전략·경영  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...      0
2     경영지원  기획·전략·경영  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...      0
3     경영지원  기획·전략·경영  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...      0
4     경영지원  기획·전략·경영  경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...      0

In [75]:
debug = []
bugidx = []
i = 0
for txt in tqdm_notebook(df.jss):
    try:
        nouns = mecab.morphs(txt)
    except:
        print(i, txt)
        bugidx.append(i)
        debug.append(nouns)
    if len(nouns) == 0:
        print(i, txt)
        bugidx.append(i)
        debug.append(nouns)
    i += 1

HBox(children=(IntProgress(value=0, max=12740), HTML(value='')))

4404 1. Wi-Fi Direct를 이용한 동시 사진 편집 프로그램 와이파이가 제공되지 않는 환경에서도 사용자 사이에 사진을 주고받고, 편집할 수 있는 안드로이드 애플리케이션입니다. 사용자들은 사진을 공유하여 각각 수정하고, 이 수정된 정보는 실시간으로 모든 사용자에게 전달됩니다. Wi-Fi Direct 연결과 사진 편집 정보를 주고받는 통신 과정을 담당했습니다.

팀원 모두가 안드로이드 개발이 처음이라 구현하고자 하는 기능이 제대로 실행되는 데 중점을 두었습니다. IEEE 802.11 국제 표준과 관련 논문 등을 읽으며 열심히 공부했습니다. 이 프로젝트를 통해 무선 네트워크에 대한 이해가 깊어졌으며 API 문서를 연구하고 적용하는 연습을 할 수 있었습니다.

1. **** 회사에서 근무했을 때 개발에 참여했던 안드로이드 애플리케이션입니다. 무료 통화를 제공하는 애플리케이션이며, 개발, 유지, 보수를 담당했습니다. 안정성과 퍼포먼스를 가장 중요하게 생각했습니다. 에러가 생기면 구글 플레이 스토어의 평점이 바로 내려가는 등의 영향이 있었기 때문에 사소한 수정이라도 꼼꼼한 테스트를 거쳤습니다. 또한, 무료 통화 성공률을 높이기 위해 개발팀에서 며칠 밤을 새우며 수천 번의 테스트를 진행했습니다.

이를 통해 이전에는 파악하지 못했던 다양한 문제점을 발견하게 되었습니다. 이를 개선함으로써 애플리케이션의 퍼포먼스도 향상되고 사용자에게 긍정적인 피드백을 받을 수 있었습니다. 이 경험을 통하여 개발 실력을 키울 수 있었습니다. 뿐만 아니라, 여러 기획회의에 직접 참여하며 일이 진행되는 프로세스를 경험했고, 책임감 등을 키웠으며, 다른 부서 사람들과 소통하고 협업하는 능력도 길렀습니다.

In [76]:
len(df)

12740

In [77]:
df = df.drop(bugidx)

In [6]:
df.to_csv('../data/자소서_잡코추가2.csv')

# 경영만 거르기

In [10]:
df = pd.read_csv('../data/자소서5.csv',index_col=0, engine='python', encoding='utf8')

In [5]:
df = df[df.industry=='경영']

In [9]:
df.groupby('category').agg('count').sort_values('label',ascending=False).to_excel('../data/경영카테고리.xlsx')

# 컴공만 거르기

In [16]:
df[df.industry.isin(['IT','서비스','연구개발'])].to_excel('../data/컴공_자소서전체.xlsx')

In [17]:
df = df[df.industry.isin(['IT','서비스','연구개발'])]

In [19]:
df.groupby('category').agg('count').sort_values('label',ascending=False).to_excel('../data/컴공_카테고리카운트.xlsx')

# 경영 카테고리1 보자

In [41]:
cadf = pd.read_excel('../data/경영카테고리1.xlsx',).fillna(method='ffill')

In [42]:
cadf.head()

  category1    category2
0      생산품질    생산관리·품질관리
1      생산품질  안전·품질·검사·관리
2      생산품질         품질보증
3        영업         영업관리
4        영업         일반영업

In [44]:
cadf2 = pd.read_excel('../data/컴공카테고리1.xlsx',header=None)

In [47]:
cadf2.columns=['category1','category2']

In [48]:
cadf2.head()

  category1      category2
0   응용프로그래밍           ABAP
1   응용프로그래밍             C#
2   응용프로그래밍            C++
3   응용프로그래밍  HTML·웹표준·UI개발
4   응용프로그래밍   IT·디자인·컴퓨터교육

In [50]:
cadf = pd.concat([cadf,cadf2])

In [53]:
cadf.head()

  category1    category2
0      생산품질    생산관리·품질관리
1      생산품질  안전·품질·검사·관리
2      생산품질         품질보증
3        영업         영업관리
4        영업         일반영업

In [54]:
df = pd.read_csv('../data/자소서5.csv',index_col=0, engine='python', encoding='utf8')

In [55]:
df.head()

   category                                                jss industry  label
0  기획·전략·경영  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...       경영      0
1  기획·전략·경영  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...       경영      0
2  기획·전략·경영  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...       경영      0
3  기획·전략·경영  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...       경영      0
4  기획·전략·경영  경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...       경영      0

In [56]:
df = df.merge(cadf,left_on='category', right_on='category2')[['category1','category2','jss']]

In [58]:
df.head()

  category1 category2                                                jss
0      경영기획  기획·전략·경영  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...
1      경영기획  기획·전략·경영  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...
2      경영기획  기획·전략·경영  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...
3      경영기획  기획·전략·경영  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...
4      경영기획  기획·전략·경영  경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...

In [62]:
df = df[df.category2 != '정보통신·IT']

In [63]:
df.groupby('category1').agg('count')

           category2   jss
category1
경영기획            1157  1157
금융              1266  1266
기술영업             329   329
마케팅             1107  1107
물류               742   742
사무              1067  1067
생산품질            2768  2768
서버·시스템           587   587
영업              4089  4089
응용프로그래밍          632   632
인사               404   404
재무               626   626
통계               117   117

In [64]:
labels = []
for i in df.category1.tolist():
    if i == '경영기획':
        labels.append(0)
    elif i == '금융':
        labels.append(1)
    elif i == '기술영업':
        labels.append(2)
    elif i == '마케팅':
        labels.append(3)
    elif i == '물류':
        labels.append(4)
    elif i == '사무':
        labels.append(5)
    elif i == '생산품질':
        labels.append(6)
    elif i == '영업':
        labels.append(7)
    elif i == '인사':
        labels.append(8)
    elif i == '재무':
        labels.append(9)
    elif i == '통계':
        labels.append(10)
    elif i == '응용프로그래밍':
        labels.append(11)
    elif i == '서버·시스템':
        labels.append(12)

In [65]:
df['label'] = labels

In [66]:
df.head()

,category1,category2,jss,label
0,경영기획,기획·전략·경영,"[제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...",0
1,경영기획,기획·전략·경영,[남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...,0
2,경영기획,기획·전략·경영,"[높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...",0
3,경영기획,기획·전략·경영,[꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...,0
4,경영기획,기획·전략·경영,"경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...",0

In [67]:
df.to_csv('../data/자소서6.csv')

In [68]:
len(df)

14891

# 카테고리 2차

In [2]:
df = pd.read_csv('../data/자소서6.csv',index_col=0, engine='python', encoding='utf8')

In [4]:
df.groupby('category1').agg('count')

           category2   jss  label
category1
경영기획            1157  1157   1157
금융              1266  1266   1266
기술영업             329   329    329
마케팅             1107  1107   1107
물류               741   741    741
사무              1067  1067   1067
생산품질            2768  2768   2768
서버·시스템           587   587    587
영업              4089  4089   4089
응용프로그래밍          632   632    632
인사               404   404    404
재무               626   626    626
통계               117   117    117

In [15]:
labels = []
for i in df.category1.tolist():
    if i == '경영기획':
        labels.append('경영지원')
    elif i == '금융':
        labels.append('재무·금융')
    elif i == '기술영업':
        labels.append('영업·마케팅')
    elif i == '마케팅':
        labels.append('영업·마케팅')
    elif i == '물류':
        labels.append('생산·물류')
    elif i == '사무':
        labels.append('경영지원')
    elif i == '생산품질':
        labels.append('생산·물류')
    elif i == '영업':
        labels.append('영업·마케팅')
    elif i == '인사':
        labels.append('인사')
    elif i == '재무':
        labels.append('재무·금융')
    elif i == '통계':
        labels.append('통계')
    elif i == '응용프로그래밍':
        labels.append('응용프로그래밍')
    elif i == '서버·시스템':
        labels.append('서버·시스템')

In [16]:
df['category3'] = labels

In [17]:
df.head()

,category1,category2,jss,label,category3
0,경영기획,기획·전략·경영,"[제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...",0,경영지원
1,경영기획,기획·전략·경영,[남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...,0,경영지원
2,경영기획,기획·전략·경영,"[높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...",0,경영지원
3,경영기획,기획·전략·경영,[꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...,0,경영지원
4,경영기획,기획·전략·경영,"경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...",0,경영지원

In [18]:
df.groupby('category3').agg('count')

           category1  category2   jss  label
category3
경영지원            2224       2224  2224   2224
생산·물류           3509       3509  3509   3509
서버·시스템           587        587   587    587
영업·마케팅          5525       5525  5525   5525
응용프로그래밍          632        632   632    632
인사               404        404   404    404
재무·금융           1892       1892  1892   1892

In [13]:
df = df[df.category3!='통계']

In [19]:
labels = []
for i in df.category3.tolist():
    if i == '경영지원':
        labels.append(0)
    elif i == '재무·금융':
        labels.append(1)
    elif i == '생산·물류':
        labels.append(2)
    elif i == '영업·마케팅':
        labels.append(3)
    elif i == '인사':
        labels.append(4)
    elif i == '서버·시스템':
        labels.append(5)
    elif i == '응용프로그래밍':
        labels.append(6)

In [20]:
df.label = labels

In [21]:
df.head()

,category1,category2,jss,label,category3
0,경영기획,기획·전략·경영,"[제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...",0,경영지원
1,경영기획,기획·전략·경영,[남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...,0,경영지원
2,경영기획,기획·전략·경영,"[높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...",0,경영지원
3,경영기획,기획·전략·경영,[꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...,0,경영지원
4,경영기획,기획·전략·경영,"경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...",0,경영지원

In [22]:
df.to_csv('../data/자소서7.csv')

# 데이터

In [2]:
df = pd.read_csv('../data/자소서_잡코추가2.csv',index_col=0, engine='python', encoding='utf8')

In [4]:
df.head()

  category  c_origin                                                jss  label
0     경영지원  기획·전략·경영  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...      0
1     경영지원  기획·전략·경영  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...      0
2     경영지원  기획·전략·경영  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...      0
3     경영지원  기획·전략·경영  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...      0
4     경영지원  기획·전략·경영  경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...      0

In [5]:
df.groupby('category').agg('count')

          c_origin   jss  label
category
경영지원          5352  5352   5352
생산·물류         4457  4457   4457
서버·시스템        1712  1712   1712
영업·마케팅        9803  9803   9803
응용프로그래밍       3130  3130   3130
인사             741   741    741
재무·금융         3350  3350   3350
통계             225   225    225

In [8]:
buis = df[df.category=='경영지원'][:3130]

In [9]:
app = df[df.category=='응용프로그래밍']
fin = df[df.category=='재무·금융']

In [13]:
df = pd.concat([buis,app,fin])

In [14]:
df[df.c_origin.str.find('ERP')>0]

Empty DataFrame
Columns: [category, c_origin, jss, label]
Index: []

In [15]:
df2 = pd.read_csv('../data/자소서_잡코사람인전체_mecab_morphs오류제거.csv',index_col=0, engine='python', encoding='utf8');

  category                                                jss
0    경영 사무  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...
1    경영 사무  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...
2    경영 사무  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...
3    경영 사무  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...
4    경영 사무  [열정은 신뢰다]\n"열정을 다하는 사람에게는 신뢰가 따라온다." 아버지께서 저에게...

In [30]:
len(df2)

46477

In [31]:
df2 = df2[~df2.category.isin(df.c_origin)]

In [33]:
df2 = df2[df2.category != '경영 사무']

In [34]:
rows = np.random.choice(df2.index.values, len(df2), replace=False)
sampled_df = df2.loc[rows]

In [38]:
df2 = sampled_df[:3130]

In [40]:
df2.rename(columns={'category':'c_origin'},inplace=True)

C:\Users\dongc\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [41]:
df2.head()

           c_origin                                                jss
36663   생산·제조·설비·조립  [함께한다는 것, 그 이상의 의미]\n 대학생활을 함께한 모임, 새앎터가 있습니다....
26960    건축·설계·인테리어  [반대로 생각하여 고객 불만율 12%를 줄인 경험이 있습니다!]\n\n레스토랑에서 ...
18459            건설  [목표를 향한 적극적인 모습]\n저는 목표를 달성하기 위해 적극적인 행동과 활용 능...
43243  영업관리·지원·영업기획  "지역 상권 맞춤형 GS25"\n\n저는 평소 GS25를 이용할 때면, 탁월한 위치...
38971      전기·전자·제어  "전기를 사랑한 사람"\n\n제 인생에 가장 큰 반환점 중 하나는 'OO공학과’로 ...

In [49]:
df2['category'] = '기타'

In [46]:
df2 = df2[['category','c_origin','jss']]

In [52]:
df = pd.concat([df,df2])

C:\Users\dongc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [78]:
df.reset_index(inplace=True)

In [79]:
df.drop(columns='index',inplace=True)

In [57]:
df.label.unique()

array([ 0.,  7.,  1., nan])

In [64]:
df[df.label==1].tail()

,c_origin,category,jss,label
9605,회계·세무·CPA,재무·금융,저는 남을 돕기 좋아하는 성격입니다. 저는 평소에 가지고 있던 컴퓨터에 대한 관심을...,1.0
9606,회계·세무·CPA,재무·금융,"저는 보험 관련 수업으로 생존분석과 손해보험통계, 금융리스크관리실무와 통계학 수업을...",1.0
9607,회계·세무·CPA,재무·금융,처음 통계학과에 입학하였을 때 선배들에게 리스크 관리 분야에서 통계학이 많이 쓰인다...,1.0
9608,회계·세무·CPA,재무·금융,"[형광등 100개의 효과]\n\n""이 지점은 인턴이 있어서 분위기가 밝네!"" ooo...",1.0
9609,회계·세무·CPA,재무·금융,[신용보증기금에서 중기 희망을 3D프린팅하다]\n\n신용보증기금에서 중소기업에게 희...,1.0

In [67]:
df.loc[df[df.label.isna()].index,'label'] = 0

In [80]:
df.head()

   c_origin category                                                jss  label
0  기획·전략·경영     경영지원  [제품 홍보가 곧 기업 홍보다]\n제품 홍보가 곧 기업 홍보라는 회사의 모토처럼, ...    1.0
1  기획·전략·경영     경영지원  [남양유업 경영관리 전문가]\n제가 지원하게 된 경영관리는 기업이 올바른 방향으로 ...    1.0
2  기획·전략·경영     경영지원  [높은 경쟁률 통과]\n작년 여름, 봉사활동에 늘 뜻이 있어 '행복 나눔 봉사단'이...    1.0
3  기획·전략·경영     경영지원  [꼼꼼함과 완벽함 사이]\n차분하고 꼼꼼한 성격을 지닌 저는 항상 주어진 일에 최선...    1.0
4  기획·전략·경영     경영지원  경영학과 중국어 두 가지에 집중했습니다.\n대학에 입학하고는, 다양한 학문을 포괄적...    1.0

In [81]:
df.to_csv('../data/자소서_균등.csv')